/vendor/

/.idea/
/.vscode/

.phpunit.result.cache
.phpunit.cache/
.composer-cache/
.tmp-glpi-11-source/

/build/
/dist/
/release/

node_modules/

.env
.env.*

.DS_Store
Thumbs.db

*.zip
*.log
*.tmp
*.swp
